{:paths ["src"]
 :deps  {org.clojure/clojure       {:mvn/version "1.10.1"}
         org.clojure/clojurescript {:mvn/version "1.10.597"}
         datascript                {:mvn/version "0.18.10"}
         re-frame                  {:mvn/version "0.11.0"}
         denistakeda/posh          {:mvn/version "0.5.8"}
         lambdaisland/glogi        {:mvn/version "0.0-36"}}}
